<h1>About Me</h1>

<div class="card z-depth-3">
  <div class="card-content white-text">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col m3">
          <%= image_tag "my_avt.png", class: "circle responsive-img" %>
        </div>

        <div class="col m9">
          <div class="black-text">
            <p>– Trong cuộc đời, bạn chỉ cần làm một vài điều đúng đắn, miễn là <b>đừng làm quá nhiều điều sai trái</b>.</p>

            <p>– Khi bạn đang ở trên một con tàu bị thủng, việc chuyển sang một chiếc tàu khác thường sẽ hiệu quả hơn việc cố gắng vá lỗ thủng trên tàu.</p>

            <p>– Không cần phải làm những điều phi thường để đạt được những kết quả phi thường.</p>

            <p>– Những gì chúng ta học được từ lịch sử là con người không hề học tập từ lịch sử.</p>

            <p>– Các thói quen thường bị xem nhẹ cho đến khi chúng trở nên quá khó để có thể thay đổi.</p>

            <p>– Dường như phức tạp hóa vấn đề là một trong những đặc tính của con người.</p>

            <p>– Mất tới 20 năm để gây dựng danh tiếng nhưng chỉ cần 5 phút để hủy hoại nó. Nếu nghĩ tới điều đó, bạn sẽ hành động khác đi.</p>

            <p>– Tốt hơn hết là nên giao du với những người giỏi hơn bạn. Hãy chọn những người có biểu hiện tốt và họ sẽ ảnh hưởng tích cực tới bạn.
            </p>
            <p>Đằng sau không ai chống lưng, tuyệt đối không thể ngã xuống được<p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
