<h1>About Me</h1>

<div class="card z-depth-3">
  <div class="card-content white-text">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col m3">
          <%= image_tag "my_avt.png", class: "circle responsive-img" %>
        </div>

        <div class="col m9">
          <div class="black-text">
            <p>Hit me harder, make me strong.</p>

            <p>Keep walking even if you fall, stand up and walk again</p>
            <p>Until you can stand at the end of this road </p>
            <p>Đằng sau không ai chống lưng, tuyệt đối không thể ngã xuống được<p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
