<h2>Contact Me</h2>


<div class="card z-depth-3">
  <div class="card-content white-text">
    <div class="card-panel grey lighten-5 z-depth-1">      
      <p class="black-text m-3" style="margin-bottom: 15px">Do you wanna talk? Find me on the map and we can have some drink</p>

      <div class="row valign-wrapper">        
        <div class="col m6" style="text-align: center">
          <img src="https://www.w3schools.com/html/workplace.jpg" style="height: 300px;">
        </div>

        <div class="col m6">
          <div class="black-text">
            <div>
              <i class="material-icons d-flex-align-top">local_phone</i>
              <a class="info-text d-flex-align-top" href="tel:0903762463">0903.762.463</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
