/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.d-flex-align-top {
  display: inline-flex;
  vertical-align: top;
}

#notice {
  color: #039be5;
}

.mb-1 {
  margin-bottom: 1em;
}
.m-5055{
  margin: 5px 0 5px 1em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.collapsible-header i {
  margin-right: 0;
}
